<!--index.vtl-->
<div class="jumbotron">
  <h1>Hairy Business</h1>
</div>


<div class="links">
  <a href="/stylists/new">Add a new Stylist</a>
  <br>
  <a href="/stylists">View all Stylists</a>

</div>
<!--index.vtl-->
